<!DOCTYPE html>
<html>

<head>
	<title>Salary Prediction</title>
	<style type="text/css">
		#p {
			text-align: center;
		}

		body {
			background-color: #fc03f4;
		}
	</style>
</head>

<body>
	<div id="p">
		<br><br>
		<h1>Machine Learning Model Using Flask</h1>
		<hr><br><br>
		<h1>Salary Prediction</h1><br>
		<form method="POST" action="/">
			<input type="text" name="Experences" placeholder="Experences">
			<input type="submit">
		</form>
		<br>
		<h1> Salary : RS  <i>{{ salary }}</i></h1>
		<br>
		<hr>
		<div>
			<p>Copyright © Praveen Sanpada, All Rights Reserved.</p>
		</div>
	</div>


</body>

</html>